.additive-badge--vegan
    color: white
    background-color: #01b300

.additive-badge--vegetarian
    color: white
    background-color: #00c4c7

.additive-badge--animal
    color: white
    background-color: #9e0001

.additive-badge--possibly-animal
    color: white
    background-color: #a6a300

.additive-names__name--en
    color: #b5b5b5
    
#s-search
    z-index: 2
    position: fixed
    left: 0
    right: 0
    padding: 1rem
    background-color: white

    .form-group
        margin: 0 !important

#s-results
    z-index: 0
    padding-top: 4.4rem